<!-- jQuery -->
<script src="js/jquery.js"></script>
<script src="https://www.gstatic.com/dialogflow-console/fast/messenger/bootstrap.js?v=1">
</script>
<df-messenger
  intent="WELCOME"
  chat-title="AI란 마리아 봇"
  agent-id="9e71fa10-d02e-433c-badd-855dcd231686"
  language-code="ko"
chat-icon="https://user-images.githubusercontent.com/87682174/169683920-28dfa51a-c905-421e-9c57-f80645f1853a.png"
              
<!-- Bootstrap Core JavaScript -->
<script src="js/bootstrap.min.js"></script>

<!-- Plugin JavaScript -->
<script src="js/jquery.easing.min.js"></script>
<script src="js/jquery.fittext.js"></script>
<script src="js/wow.min.js"></script>

<!-- Custom Theme JavaScript -->
<script src="js/creative.js"></script>
