<!DOCTYPE html>
<html lang="en">
  <script src="https://www.gstatic.com/dialogflow-console/fast/messenger/bootstrap.js?v=1">
</script>
<df-messenger
  intent="WELCOME"
  chat-title="AI란 마리아 봇"
  agent-id="9e71fa10-d02e-433c-badd-855dcd231686"
  language-code="ko"
chat-icon="https://user-images.githubusercontent.com/87682174/169683920-28dfa51a-c905-421e-9c57-f80645f1853a.png"

{% include head.html %}

<body id="page-top">
  {% include nav.html %}
  {% include header.html %}
  {% include call-to-action.html %}
  {% include services.html %}
  {% include portfolio.html %}
  {% include aside.html %}
  {% include contact.html %}
  {% include scripts.html %}
</body>

</html>
